<div class="padding-box">
    <div class="limit-width">
        <ul class="list-line">
            <li>
                <div class="row">
                    <div class="col-sm-4">
                        <strong>First Name</strong>	
                    </div><!--col-sm-4-->
                    <div class="col-sm-4">
                        {{accUsrDetCtrl.user.firstName}}	
                    </div><!--col-sm-4-->
                </div><!--row-->
            </li>
            <li>
                <div class="row">
                    <div class="col-sm-4">
                        <strong>Middle Name</strong>	
                    </div><!--col-sm-4-->
                    <div class="col-sm-4">
                        {{accUsrDetCtrl.user.middleName}}	
                    </div><!--col-sm-4-->
                </div><!--row-->
            </li>
            <li>
                <div class="row">
                    <div class="col-sm-4">
                        <strong>Last Name</strong>	
                    </div><!--col-sm-4-->
                    <div class="col-sm-4">
                        {{accUsrDetCtrl.user.lastName}}	
                    </div><!--col-sm-4-->
                </div><!--row-->
            </li>
            <li>
                <div class="row">
                    <div class="col-sm-4">
                        <strong>Profile picture</strong>	
                    </div><!--col-sm-4-->
                    <div class="col-sm-4">
                        {{accUsrDetCtrl.user.picture}}	
                    </div><!--col-sm-4-->
                </div><!--row-->
            </li>
        </ul>

    </div><!--limit-width-->
</div><!--padding-box-->

